<div class="contents text-center">
  <h1>「あなたができない理由」</h1>
    <p>進まない物事や、面倒臭いと放り投げたタスクありませんか？</p>
    <p>このアプリを駆使することで、それを解決できるかもしれません</p>
    <p>なぜなら、このアプリはできない理由を</p>
    <h4>「強制深掘りして見える化」するからです</h4>
    <h2>【機能一覧】</h2>
    <h5>・理由の深掘り</h5>
    <p>→できない理由を「徹底的」に見える化します</p>
    <h5>・画像投稿機能</h5>
    <p>→言葉で表現しにくい場合、画像も添付できます</p>
    <h5>動画投稿機能</h5>
    <p>→画像でも伝わりにくい場合、動画を添付できます</p>
  <%= link_to '早速やってみる', new_task_path, class: 'btn btn-primary' %>
</div>