<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h1>お気に入りしたタスク</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>投稿者</th>
          <th>タスクの名前</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td><%= favorite.user.name %></td>
            <td><%= favorite.task.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'タスク一覧へ', tasks_path, class: "btn btn-outline-primary" %>
    <%= link_to '新規投稿へ', new_task_path, class: "btn btn-outline-success" %>
  </div>
</div>