<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h1>進まない原因の追加</h1>
    <%= render 'form' %>
    <%= link_to "詳細画面へ戻る", :back, class: "btn btn-outline-danger" %>
  </div>
</div>  