@import "bootstrap";

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 46px;
  }
  
  .footer-box {
    width: 100%;
    text-align: center;
    background-color:  #e7e7e7;
    padding: 0;
    position: absolute;
    bottom: 0;
    height: 50px;

  }

  .footer-box .text-muted {
    padding: 14px;
  }
